---
layout: post
---
<!-- https://help.shopify.com/themes/liquid/filters/array-filters -->
<!-- https://github.com/Shopify/liquid/wiki/Liquid-for-Designers -->

{% assign popularcount = site.data.settings.popular_count %}
{% assign populartag = 'popular' | split: ' ' %}
{% assign thisweektag = 'this-week' | split: ' ' %}

<!-- get largest last_suggested_date -->
{% capture last_suggested_dates %}
{% for item in site.data.recipes %}
{% if item.last_suggested_date %}
{{ item.last_suggested_date }}
{% endif %}
{% endfor %}
{% endcapture %}
{% assign max_date = last_suggested_dates | split:' ' | uniq | sort | last %}

<!-- get unique tags -->
{% capture all_tags %}
{% for item in site.data.recipes %}
{% if item.tags %}
{% for tag in item.tags %}
{{ tag }}
{% endfor %}
{% endif %}
{% endfor %}
{% endcapture %}
{% assign tags = all_tags | split: ' ' | uniq | sort | concat: thisweektag | concat: populartag %}
<!-- {% assign tags = site.data.recipes | map: 'tags' | uniq | sort | concat: thisweektag | concat: populartag %} -->

<div class="everything">
    <div class="btn-menu">
        <div class="menu-tags">
            {% for tag in tags %}
                <div class="btn btn-list-item btn-tag btn-menu-tag" data-tag="{{ tag }}">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <input type="text" id="search-box" name="fname">
    <br><span id="filter_status"></span>

    <div id="recipes" class="recipes all list-group">
    {% for item in site.data.recipes %}
        <div class="media-item">
            <div class="item-head">
                <span class="item-title">{{ item.name | capitalize }}</span>
                <!-- {% if item.recipe_urls and item.recipe_urls != empty %}[{% for url in item.recipe_urls %}<a href="{{ url }}">recipe</a>{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %} -->

                {% capture urls %}{% if item.comments != empty %}{% for comment in item.comments %}{% if comment.url and comment.url != empty %}<a href="{{ comment.url }}">{{ forloop.index }}</a>::{% endif %}{% endfor %}{% endif %}{% endcapture %}
                {% assign urls_array = urls | split: '::' | uniq %}
                <!-- {% if urls_array and urls_array != empty %}
                [{% for url in urls_array %}{{ url }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
                {% endif %} -->
            </div>
            <div class="item-opinion">
                {% if item.tags %}
                {% assign curtagnames = item.tags %}
                {% if item.comments and item.comments.size > popularcount %}
                    {% assign curtagnames = curtagnames | concat: populartag %}
                {% endif %}
                {% if item.last_suggested_date and item.last_suggested_date == max_date %}
                    {% assign curtagnames = curtagnames | concat: thisweektag %}
                {% endif %}
                {% assign curtags = curtagnames | join:' btn-tag-' | prepend: 'btn-tag-' %}
                <div class="tags {{ curtags }}">
                    <span class="item-label">tags:</span> 
                    {% for tag in item.tags %}
                    <div class="btn btn-list-item btn-tag" data-tag="{{ tag }}">{{ tag }}</div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="btn-tag" style="display: hidden;" data-tag="(none)"></div>
                {% endif %}
                {% if item.comments != empty %}
                <div class="comments">
                    <span class="item-label">notes:</span> {% for comment in item.comments %}{% if forloop.index == 1 %}<br/>{% endif %}{% if comment.comment != empty %}<span class="comment-index">{% if comment.url and comment.url != empty %}<a href="{{ comment.url }}">{% endif %}{{ comment.date }}:{% if comment.url and comment.url != empty %}</a>{% endif %} </span>{{ comment.comment }}{% if comment.comment != empty %}</br>{% endif %}{% endif %}{% endfor %}
                    <span class="item-label">dates made:</span> {% for comment in item.comments %}<span class="date">{{ comment.date }}{% unless forloop.last %}, {% endunless %} </span>{% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

</div>
